/* style.css */

/* Reset default margin and padding */
body, ul {
  margin: 0;
  padding: 20px;
}


/* Style the header */
header {
  background-color: darkred;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

/* Style the navigation menu */
.header-nav ul {
  list-style: none;
}

.header-nav li {
  display: inline;
  margin-right: 20px;
}

.header-nav a {
  text-decoration: none;
  color: white;
}
