/* style.css */

/* Reset default margin and padding */
body, ul {
  margin: 0;
  padding: 20px 50px 20px;
  background-color: black; /* Set the background color to black */
  color: white; /* Set the text color to white */
}

/* Style the header */
header {
  background-color: black; /* Change the header background color to white */
  color: white; /* Change the header text color to black */
  padding: 5px 5px 5px; /* top, right/left, bottom */
  display: flex;
  justify-content: flex-end;
  position: fixed; /* Make the header fixed */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Make it full-width */
}

/* Style the navigation menu */
.header-nav ul {
  list-style: none;
}

.header-nav li {
  display: inline;
  margin-right: 30px;
}

.header-nav a {
  text-decoration: none;
  color: turquoise; /* Change the navigation links to turquoise */
  font-family: Arial, sans-serif; /* Use a non-serif font */
  font-size: 20px; /* Adjust the font size */
}

/* Style all links on all pages */
a {
  color: turquoise; /* Set all links to turquoise */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  text-decoration: underline; /* Underline links on hover for better UX */
}

/* Style the main content sections */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px; /* Create space under the fixed header */
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: black; /* Set the content background color to black */
  color: white; /* Ensure text is white */
}

.content.reversed {
  flex-direction: row-reverse; /* Reverse order of elements */
}

.content img {
  max-width: 50%;
  height: auto;
}

.content .left, .content .right {
  flex-basis: 48%; /* Equal width for both sections */
}

/* Style the footer */
footer {
  padding: 20px;
  background-color: #333; /* Dark grey for the footer */
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.social-media {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.highlight-name {
  font-weight: bold; /* Make the text bold to highlight your name */
}
