/* style.css */

/* Reset default margin and padding */
body, ul {
  margin: 0;
  padding: 20px 50px 20px;
}


/* Style the header */
header {
  background-color: darkred;
  color: white;
  padding: 5px 10px 5px; /* top, right/left, bottom */
  display: flex;
  justify-content: flex-end;
  position: fixed; /* Make the header fixed */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Make it full-width */
}

/* Style the navigation menu */
.header-nav ul {
  list-style: none;
}

.header-nav li {
  display: inline;
  margin-right: 20px;
}

.header-nav a {
  text-decoration: none;
  color: white;
  font-family: Arial, sans-serif; /* Use a non-serif font */
  font-size: 20px; /* Adjust the font size */
}


/* Margin for the content area to avoid hiding under the fixed header */
.content {
  margin-top: 80px; /* Adjust this value as needed */
}